In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'glass.csv'
dataset = pd.read_csv(filename)

**Summary statistics of each attribute**

In [70]:
means = dataset.mean(0)[1:-1]     # (emitting the mean of the id and the type)
sd = dataset.std(0)[1:-1]         # (emitting the sd of the id and the type)
Q1 = dataset.quantile(0.25)[1:-1] # (emitting the q1 of the id and the type)
med = dataset.median(0)[1:-1]     # (emitting the median of the id and the type)
Q3 = dataset.quantile(0.75)[1:-1] # (emitting the q3 of the id and the type)

In [88]:
dfs = [means, sd, Q1, med, Q3]
df = pd.concat(dfs, axis = 1)
df.set_axis(["Means", "Sd", "Q1", "Median", "Q3"], inplace=True, axis=1)
df.T

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
Means,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009
Sd,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439
Q1,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000
Median,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000
Q3,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000

In [112]:
# kan vi lige snakke om hvor sejt det her er
precision  = 3 #antal decimaler

abe = df.T.style.format(precision = precision)
print(abe.to_latex(hrules=True))

\begin{tabular}{lrrrrrrrrr}
\toprule
 & RI & Na & Mg & Al & Si & K & Ca & Ba & Fe \\
\midrule
Means & 1.518 & 13.408 & 2.685 & 1.445 & 72.651 & 0.497 & 8.957 & 0.175 & 0.057 \\
Sd & 0.003 & 0.817 & 1.442 & 0.499 & 0.775 & 0.652 & 1.423 & 0.497 & 0.097 \\
Q1 & 1.517 & 12.908 & 2.115 & 1.190 & 72.280 & 0.122 & 8.240 & 0.000 & 0.000 \\
Median & 1.518 & 13.300 & 3.480 & 1.360 & 72.790 & 0.555 & 8.600 & 0.000 & 0.000 \\
Q3 & 1.519 & 13.825 & 3.600 & 1.630 & 73.088 & 0.610 & 9.172 & 0.000 & 0.100 \\
\bottomrule
\end{tabular}